.source-detail{
  background-color: #fffa;
  border-radius: 8px;
  .icon{
    width: 40px;
    color: var(--main-color);
  }
  .detail-item{
    padding: 10px;
    background-color: transparent;
    transition: 0.2s linear;
    &.animated{
      padding: 7px 10px !important;
    }
    .tip{
      color: #bbb;
      font-size: 14px;
      width: 100px;
    }
    &:hover{
      background-color: #fff;
      box-shadow:  0 1.6px 3.6px 0 rgba(0, 0, 0, 0.1) ,  0 0.3px 0.9px 0 rgba(0, 0, 0, 0.11);
    }
  }
  .monaco-container{
    width: 100%;
    height: calc(100% - 200px);
    padding:10px 20px 20px 20px;
    box-sizing: border-box;
    ngx-monaco-editor,iframe{
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
    iframe{
      border: none;
      outline: none;
    }
  }
}

.link{
  cursor: pointer;
}
