/* You can add global styles to this file, and also import other style files */
html,body,.full{
  height:100%;
  width:100%;
  padding: 0;
  margin: 0;
}
body{
  --main-color:#006fc9;
}
.flex{
  display: flex;
}
.flex-align{
  display: flex;
  align-items: center;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-1{
  flex: 1;
}

.border-box{
  box-sizing: border-box;
}

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

.transition-2{
  transition: 0.2s ease;
}

.fluent-item{
  margin: 6px 8px;
  border-radius: 4px;
  min-height: 40px;
  position: relative;
  box-sizing: border-box;
  padding: 0 8px;
  transition: all 0.2s ease;
  &:hover{
    background-color:rgb(255,255,255) ;
    box-shadow:  0 1.6px 3.6px 0 rgba(0, 0, 0, 0.133) ,  0 0.3px 0.9px 0 rgba(0, 0, 0, 0.11);
  }
}
.fluent-header{
  min-height: 40px;
  position: relative;
  box-sizing: border-box;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

@mixin transitionAll($time) {
  transition: all $time;
}


.global-menu {
  position: absolute;
  z-index: 99999999;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  @include transitionAll(0.2s);
  border: 1px solid #1f9acd33;
  box-shadow:  0 1.6px 3.6px 0 rgba(0, 0, 0, 0.133) ,  0 0.3px 0.9px 0 rgba(0, 0, 0, 0.11);
  border-radius: 8px;
  .menu-item {
    width: 150px;
    height: 36px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
    @include transitionAll(0.2s);
    font-size: 12px;
    border-radius: 8px;
    &:hover {
      color: white;
      background-color: rgba(31, 153, 205, 0.8);
      i {
        color: white;
      }
    }
    i {
      min-width: 20px;
      color: #1f9acd;
      @include transitionAll(0.2s);
      margin: 0 10px;
    }
  }
  &.show {
    display: block;
    animation: menushow ease-out forwards 0.2s;
  }
  &.hide {
    display: none;
  }
}
